* {
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    height: calc(100vh - 30px);
    justify-content: center;
    align-items: center;

    --half-cell: calc(var(--cell-size) / 2);
}

.cube {
    transform-style: preserve-3d;
    perspective: 500px;
    position: relative;
}


.cell-wrapper {
    width: var(--cell-size);
    height: var(--cell-size);
    transform-style: preserve-3d;
    transition: 1s all;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.cell {
    transform-origin: center center calc(-1 * var(--half-cell));

    transform-style: preserve-3d;

    transition: 1s all;
    width: var(--cell-size);
    height: var(--cell-size);

    position: absolute;
    left: 0;
    top: 0;
}

.side {
    transform-style: preserve-3d;
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px #444 solid;
    font-size: 8px;
    text-align: center;
    line-height: var(--cell-size);
    position: absolute;
    left: 0;
    top: 0;
}


.left {
    transform: rotateY(90deg) translate3d(var(--half-cell), 0px, calc(-1 * var(--half-cell)));
}

.right {
    transform: rotateY(90deg) translate3d(var(--half-cell), 0px, var(--half-cell));
}

.bottom {
    transform: rotateX(90deg) translate3d(0, calc(-1 * var(--half-cell)), calc(-1 * var(--half-cell)));
}

.top {
    transform: rotateX(90deg) translate3d(0, calc(-1 * var(--half-cell)), var(--half-cell));
}

.front {
    transform: translate3d(0, 0, 0);

}

.back {
    transform: translate3d(0, 0, calc(-1 * var(--cell-size)));
}
