.layout {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    grid-auto-rows: auto;
    grid-template-areas:
        '. up . .'
        'left front right back'
        '. down . .';
    margin-bottom: 16px;
    gap: 4px;
}

.layout-side {
    display: grid;
    grid-template-columns: repeat(3, var(--cell-size));
}

.layout-cell {
    border: 1px solid black;
    border-radius: 4px;
    width: var(--cell-size);
    height: var(--cell-size);
    transition: 0.1s all;
}